* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
}

@keyframes waiting{
    from { rotate: 45deg; }
    to { rotate: 135deg; }
}

.box{
    height: 30px;
    aspect-ratio: 1;
    margin:8px;
    animation: waiting infinite ease-out 0.8s;
}

.box:first-child{
    background-color: red;
}

.box:nth-child(2){
    background-color: yellow;
}

.box:last-child{
    background-color: blue;
}