* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* flags parent container */
div.flags{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 20px;
    background-color: gray;
}

/* child flags */
div.flag{
    height: 200px;
    aspect-ratio: 3/2;
    border: 1px solid;
    background-color: rgb(210, 210, 210);
}

.france{
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
}

div.france>.stripe{
    flex-grow: 1;  /* flex grow creates element with size of width/height which is max to the parent size */  
    background-color: var(--color);
}