* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    background-color: #222831;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-gradient{
    background: linear-gradient(115deg,rgb(243, 243, 5),rgb(67, 67, 241));
    border-radius: 5px;
    padding: 5px;
}

button{
    width: 100%;
    height: 100%;
    background-color: black;
    border-style: none;
    border-radius: 5px;

    padding: 1em 2em;

    /* test css */
    color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    letter-spacing: 4px;

}

.button-gradient:hover{
    background: linear-gradient(195deg,rgb(243, 243, 5),rgb(67, 67, 241));
    scale: 1.05;
}

.button-gradient:hover button{
    color: rgb(255, 255, 122);
}

